.button {
    max-width: 64px;
    height: auto;
    cursor: pointer;
}

#page-containter {
    max-width: 1420px;
    height: auto;
}
#content {
    float: right;
    padding: 20px;
    width:800px;
    background-color: antiquewhite;
    border-radius: 5px;
    border-style: groove;
}

.Name {
    outline-width: 3px;
    outline-style: groove;
}

.Type {
    outline-width: 3px;
    outline-style: dotted;
}

.p1 {
    outline-width: 3px;
    outline-style: dotted;
}

.Creature-Img {
    float: left;
}

#banner {
    max-width: 1500px;
    height: auto;
}

#h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #C57C57;
}

::-webkit-scrollbar-thumb {
    background: #D34653;
}

::-webkit-scrollbar-thumb:hover {
    background: #CB0717;
}