.button {
    max-width: 64px;
    height: auto;
    cursor: pointer;
}

#page-containter {
    max-width: 1420px;
    height: auto;
}
#content {
    float: right;
    padding: 20px;
    width:800px;
    background-color: antiquewhite;
    border-radius: 5px;
    border-style: groove;
}

.Name {
    outline-width: 3px;
    outline-style: groove;
}

.Type {
    outline-width: 3px;
    outline-style: dotted;
}

.p1 {
    outline-width: 3px;
    outline-style: dotted;
}

.Creature-Img {
    float: left;
}

#banner {
    max-width: 1500px;
    height: auto;
}
