.button {
    max-width: 64px;
    height: auto;
    cursor: pointer;
}

#creature-table {
    max-width: 1250px;
    height: auto;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 5px;
    border-style: groove;
}

#banner {
    max-width: 1500px;
    height: auto;
}

.creature {
    cursor: pointer;
}
.cave {
    background-image: url('images/Cave_Background.png');
}