.button {
    max-width: 64px;
    height: auto;
    cursor: pointer;
}

#h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}

#p {
    text-align: center;
}


.creature-table {
    max-width: 1500px;
    height: auto;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 5px;
    border-style: groove;

}


#banner {
    max-width: 1500px;
    height: auto;
}

.creature {
    cursor: pointer;
}

#header {
    max-width: 1250px;
    height: auto;
    margin: auto;
    background-color:lavender;
    border-radius: 15px;
    border-style: groove;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #C57C57;
}

::-webkit-scrollbar-thumb {
    background: #D34653;
}

::-webkit-scrollbar-thumb:hover {
    background: #CB0717;
}

#h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}

.cred {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    text-align: center;
}